@import "./../../App.scss";

.Parallax-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;

  .w100 {
    width: 100%;
  }

  .h100 {
    height: 100%;
  }

  h1 {
    font-size: 100px;
    z-index: 0;

    @include mobile {
      font-size: 50px;
    }
  }

  .bg-img-adjust {
    position: absolute;
    background-size: cover;
    background-position: bottom;
  }

  .bg-mountains {
    background-image: url("/public/mountains.png");
  }

  .bg-planets {
    background-image: url("/public/planets.png");
  }

  .bg-stars {
    background-image: url("/public/stars.png");
  }

  .text-center {
    text-align: center;
  }
}

.bg-dark {
  background: linear-gradient(180deg, #111132, #0c0c1d);
}

.bg-light {
  background: linear-gradient(180deg, #111132, #050564);
}
